.mainContainer {
    width: 100%;
    height: 100%;

    .containerHead {
        position: relative;
        align-items: center;
        background-color: #7d6028;
        flex-direction: row;
        height: 6%;
        color: #fff
    }

    .dataPicker {
        margin-top: 2%;
        width: 98%;
        margin-left: 1%;
    }

    .example-radio-group {
        display: flex;
        flex-direction: column;
        margin: 15px 0;
        align-items: flex-start;
      }
      
      .example-radio-button {
        margin: 5px;
      }



}