<div *ngIf="UserIsADM();else userNotADM">
    <div class="mainContainer">
        <div class="containerHead">
            <h1 style="margin-left: 2%; text-align: center;">Adicionar novo horario</h1>
        </div>

        <div class="form">
            <div class="containerDataPicker">
                <mat-form-field class="dataPicker">
                    <mat-label>Data Agendamento </mat-label>
                    <input matInput [matDatepicker]="dateStartpicker" name="dataStartAgenda" [disabled]="true"
                        (dateInput)="selectDate($event)">
                    <mat-hint>DD/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="dateStartpicker"></mat-datepicker-toggle>
                    <mat-datepicker #dateStartpicker disabled="false">
                        <mat-datepicker-actions>
                            <button mat-button matDatepickerCancel>Cancel</button>
                            <button mat-raised-button matDatepickerApply>Selecionar</button>
                        </mat-datepicker-actions>
                    </mat-datepicker>
                </mat-form-field>

                <mat-form-field class="dataPicker">
                    <mat-label>Streamer</mat-label>
                    <mat-select [(ngModel)]="streamerSelected" name="food" [disabled]="streamers.length  < 1">
                        <div *ngFor="let str of streamers">
                            <mat-option [value]="str">{{str.twitchName}}</mat-option>
                        </div>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="dataPicker">
                    <mat-label>Horario da agenda</mat-label>
                    <mat-select [(ngModel)]="timeSelected" name="food"
                        [disabled]="streamerSelected.id!=undefined&&streamerSelected.id.trim().length < 1">
                        <div *ngFor="let start of listOfAvailableSchedules">
                            <mat-option [value]="start">{{start.value}}</mat-option>
                        </div>
                    </mat-select>
                </mat-form-field>
                <div style="flex-direction: row; margin-left: 2%;">
                    <label><b>Observação:</b> Por padrão os agendamentos são de 01:30 Horas</label>
                </div>

                <button mat-raised-button (click)="this.dialogRef.close()"
                    style="width: 25%; height: 40px; margin-left: 3%; margin-right: 44%; margin-top: 3%;">cancelar</button>
                <button [disabled]="timeSelected.value.trim().length < 1" (click)="AddSchedule()" mat-raised-button
                    style="width: 25%; height: 40px; background-color: #000; margin-top: 3%;color: white; margin-right: 3%;">Adicionar</button>

            </div>
        </div>
    </div>
</div>

<ng-template #userNotADM>
    <div class="mainContainer">
        <div class="containerHead">
            <h1 style="margin-left: 2%; text-align: center;">Realizar agendamento</h1>
        </div>

        <div class="form">
            <div class="containerDataPicker">
                <mat-form-field class="dataPicker">
                    <mat-label>Data Agendamento </mat-label>
                    <input matInput [matDatepicker]="dateStartpicker" name="dataStartAgenda" [disabled]="true"
                        (dateInput)="selectDateNotADM($event)">
                    <mat-hint>DD/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="dateStartpicker"></mat-datepicker-toggle>
                    <mat-datepicker #dateStartpicker disabled="false">
                        <mat-datepicker-actions>
                            <button mat-button matDatepickerCancel>Cancel</button>
                            <button mat-raised-button matDatepickerApply>Selecionar</button>
                        </mat-datepicker-actions>
                    </mat-datepicker>
                </mat-form-field>
                
                <mat-form-field class="dataPicker">
                    <mat-label>Horario da agenda</mat-label>
                    <mat-select [(ngModel)]="timeSelected" name="food"
                        [disabled]="listOfAvailableSchedules!=undefined&&listOfAvailableSchedules.length < 1">
                        <div *ngFor="let start of listOfAvailableSchedules">
                            <mat-option [value]="start">{{start.value}}</mat-option>
                        </div>
                    </mat-select>
                </mat-form-field>
                <div style="flex-direction: row; margin-left: 2%;">
                    <label><b>Observação:</b> Por padrão os agendamentos são de 01:30 Horas</label>
                </div>

                <button mat-raised-button (click)="this.dialogRef.close()"
                    style="width: 25%; height: 40px; margin-left: 3%; margin-right: 44%; margin-top: 3%;">cancelar</button>
                <button [disabled]="timeSelected.value.trim().length < 1" (click)="AddScheduleNotADM()" mat-raised-button
                    style="width: 25%; height: 40px; background-color: #000; margin-top: 3%;color: white; margin-right: 3%;">Adicionar</button>
            </div>
        </div>
    </div>
</ng-template>