<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
    <mat-tab label="Informativo">
        <h1  style="width: 100%; font-size: 50px; text-align: center; margin-top: 5%; font-weight: bolder;">Ultimas noticias</h1>
        <hr>
        <mat-card (click)="goToFormRecruiter()" class="card-recrutamento">
            <img mat-card-image src="assets/Black_Red_Horror_Stories_YouTube_Thumbnail_1.png">
        </mat-card>
    </mat-tab>

    <mat-tab label="Sobre">

    </mat-tab>
    <mat-tab label="Recrutamento">

    </mat-tab>
    <mat-tab label="Fale conosco">

    </mat-tab>
</mat-tab-group>