<mat-toolbar class="toolbar">
    <div style="flex-direction: row;">
        <button (click)="sidenav.toggle()" mat-icon-button class="example-icon"
            aria-label="Example icon-button with menu icon">
            <img src="assets/icons/menu-4-128.png" alt="">
        </button>
    </div>
    <h1 class="title">Equipe Alcance</h1>
</mat-toolbar>

<mat-sidenav-container class="app-container">
    <mat-sidenav #sidenav mode="side" [class.mat-elevation-z4]="true" class="app-sidenav">
        <mat-nav-list>
            <h3>olá {{user.streamersDTOResponse.twitchName}}</h3>
            <mat-list-item (click)="logout(sidenav)">
                <mat-icon>exit_to_app</mat-icon><span>Sair</span>
            </mat-list-item>
            <hr>
            <mat-list-item (click)="goToHome(sidenav)">
                <mat-icon>dashboard</mat-icon><span>Dashboard</span>
            </mat-list-item>
            <mat-list-item *ngIf="UserIsADM()" (click)="goToStreamers(sidenav)">
                <mat-icon>group</mat-icon><span>Streamers</span>
            </mat-list-item>
            <mat-list-item [matMenuTriggerFor]="pontuacoes">
                <mat-icon>expand_more</mat-icon><span>Pontuações</span>
            </mat-list-item>
            <mat-list-item *ngIf="UserIsADM()" (click)="goToAgendamentos(sidenav)">
                <mat-icon>schedule</mat-icon><span>Agendamentos</span>
            </mat-list-item>
            <mat-list-item (click)="goToLurkOnline(sidenav)">
                <mat-icon>tv</mat-icon><span>Assistir Streamers</span>
            </mat-list-item>
        </mat-nav-list>
        <mat-menu #pontuacoes="matMenu">
            <button mat-menu-item (click)="goToPontuacao(sidenav)"><mat-icon>list_alt</mat-icon><span>Consulta
                    pontuação</span></button>
            <button mat-menu-item (click)="goToTop(sidenav)"><mat-icon>star</mat-icon><span>top</span></button>
        </mat-menu>
    </mat-sidenav>
    <mat-sidenav-content>
        <div *ngIf="openDashboard"><app-home></app-home></div>
        <div *ngIf="openStreamers"><app-streamers></app-streamers></div>
        <div *ngIf="openAgendamentos"><app-live-schedule></app-live-schedule></div>
        <div *ngIf="openPontuacoes"><app-pontuacao></app-pontuacao></div>
        <div *ngIf="openLurkonline"><app-prepare-towatch></app-prepare-towatch></div>
        <div *ngIf="openTopStreamers"><app-top-pontuacao></app-top-pontuacao></div>
    </mat-sidenav-content>
</mat-sidenav-container>