.mainContainer {
    position: absolute;
        width: 100%;
        height: 100%;
        .containerPlayerLurk{
            position: absolute;
                width: 100%;
                height: 80%;
            .twitchPlayer1 {
                margin-top: 5%;
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }
        .containerPlayerDev{
            position: absolute;
            width: 100%;
            height: 80%;
            margin-top: 230%;
            .twitchPlayer2 {
                margin-top: 5%;
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }
}