.toolbar{
    background-color: #000;
    width: 100%;
    .ProductName {
        font-size: 30px;
        font-weight: bold;
        color: white;
        font-style: italic;
        text-align: center;
        margin-left: 1%;
    }
    mat-tab-group{
        color: #fff;
    }
    .menuButtons{
        margin-left: 2%;
        color: white;
        width: 100%;
    }
}