.mainContainer {
    width: 100%;
    height: 100%;

    .containerHead {
        position: relative;
        align-items: center;
        background-color: #7d6028;
        flex-direction: row;
        height: 6%;
        color: white;
    }

    .form {
        margin-top: 2%;
        width: 95%;

        mat-form-field {
            width: 98%;
            margin-left: 1%;
            margin-right: 1%;
        }

        section {
            margin-top: 1%;
            width: 98%;
            margin-left: 1%;
            margin-right: 1%;
        }
    }
}